/* === MAIN === */
body {
    overflow-x: hidden; /* Evita el scroll horizontal */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Fondo gris claro */
}
main {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #fff;
    width: 100vw;
    box-sizing: border-box;
}

/* Noticias a la izquierda con margen lateral */
.noticias-container {
    min-width: 75%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.espacio-superior {
    width: 100%;
    padding: 0 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
}



/* === RESPONSIVE === */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .logo img {
        max-width: 150px;
    }

    main {
        flex-direction: column;
        padding: 20px 20px;
    }

    .noticias-container,
    .espaico-extra {
        min-width: 100%;
        margin: 0 0 20px 0;
        border-left: none;
        padding-left: 0;
    }

    .menu-list {
        flex-direction: column;
        gap: 10px;
    }

    .redes-header {
        margin-top: 10px;
    }
}
